/* import google fonts */

/* css reset */
* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body {
  background: #424242 url("images/body_bg.png");
  width: 85%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background: #e0dedee0 url("images/container_bg.png");

}

header {
  background-color: rgba(44, 172, 135, 0.854);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__logo {
  width: 10%;
}

.details__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Add this portion during live session */
#pokemon__display {
  background: #424242 url("images/body_bg.png");
  display: flex;
  margin: 1rem 0;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#pokemon__display>img {
  height: 200px;
  margin: 0.5rem;
  cursor: pointer;
}

.pokemon__card:hover {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px -3px rgb(255, 255, 255);
}

#pokemon__detail {
  position: relative;
}

.image__detail:hover {
   box-shadow: 0px 0px 33px 0px rgba(45, 255, 196, 0.62);
}
/*  add this section during live */

.image__detail {
  height: 300px;
  margin-top: 1rem;
  border-radius: 10px;
}

.name,
.hp {
  position: relative;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.705);
}

.name {
  bottom: 100px;
  border-radius: 5px;
}

.hp {
  bottom: 90px;
  border-radius: 5px;
}

#rating__display,
#comment__display {
  font-size: 1.5rem;
}

h4 {
  color: #000;
  margin: .5rem 0;
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
}

/* |||||||| Form  |||||||| */

form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form > label{
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea {
  font-size: 1.2rem;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

input[type="submit"] {
  background-color: rgba(44, 172, 135, 0.854);
  color: #fff;
  padding: 1rem;
  margin: auto;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  width: 80%;
}

input:active[type="submit"] {
  transform: scale(1.2);
  background-color: rgba(24, 66, 54, 0.854);
}

/* ||||||| Footer ||||||| */

footer {
  background-color: #a4a4a4;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer>img {
  padding: .5rem 0;
  width: 5%;
  border-radius: 5px;
}